<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <title>Peakers Pos - Dashboard</title>

    <!-- FontAwesome for icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/dist/assets/main.css" />
    <link rel="stylesheet" href="../static/styles/main.css" />

    <!-- Chart.js for Sales Graph -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <!-- Main Dashboard -->
    <div id="root"></div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="../static/dist/assets/main.js"></script>
    <script type="module" src="../static/dist/assets/react-vendor.js"></script>
    <script type="module" src="../static/dist/assets/utility.js"></script>
    <script type="module" src="../static/dist/assets/index.es.js"></script>
    <script
      type="module"
      src="../static/dist/assets/html2canvas.esm.js"
    ></script>
    <script type="module" src="../static/dist/assets/purify.es.js"></script>
  </body>
</html>
